* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Lato', sans-serif;
}

.heading{
  margin-top: 1.5rem;
       margin-left: 4rem;
       margin-bottom: 1.5;

}
.events{
    height: 11rem;
    background: bisque;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 7px;
  }

  .events h1 ,.date, .desc{
       margin-top: 1.5rem;
       margin-left: 1rem;

  }