body{
    background-color:#F5F5DC;
  }

  .student,.faculty{
   
    text-align: center;
    color:#81583b;
   

   
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin-top: 5rem;
        margin-left: 20rem;
      }


h1{
    text-align:center;
    margin-top: 10rem;
}